<div class="center-align">
  <h1>Bitcoin</h1>
  <h3>${{prices.bitcoin}}</h3>

  <canvas class="BTCChart" width="400" height="400"></canvas>

  <br>

  <button class="btn">Buy</button>
  {{#if portfolio.bitcoin}}
    <button class="btn">Sell</button>
  {{/if}}

  <br>

  <div class="row">
    <div class="col s6">
      <h4>{{portfolio.bitcoin}}</h4>
      <p>shares</p>
    </div>
    <div class="col s6">
      <h4>${{totalBitcoin}}</h4>
      <p>Value</p>
    </div>
</div>
