<h1>Welcome to Crypto-Exchange</h1>

<div class="center-align">

  <a href="/users/register" class="btn">Sign Up</a>
  <a href="/users/login" class="btn">Login</a>

  <div class="display-prices"></div>

  <canvas class="BTCChart" width="400" height="400"></canvas>
  <canvas id="lineChart" width="400" height="400"></canvas>

</div>
